<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>gide</string>
	<key>CFBundleIconFile</key>
	<string>gide.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.goki.gide</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>gide</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>CFBundleSignature</key>
	<string>rorp</string>
	<key>CFBundleVersion</key>
	<string>0.5.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gide</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gide.icns</string>
			<key>CFBundleTypeName</key>
			<string>Gide Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>gide.gide</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/goki/gide</string>
			<key>UTTypeDescription</key>
			<string>Gide Project</string>
			<key>UTTypeIconFile</key>
			<string>gide.icns</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.github.goki.gide</key>
				<string>gide</string>
				<key>public.filename-extension</key>
				<array>
					<string>gide</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
